{%- if misconducts -%}
<h1>Misconduct Report ({{ start_date }} - {{ end_date }})</h1>
{%- for misconduct in misconducts -%}
<br>
<b>Reported By:</b> {{ misconduct['author'] }}
<h2>Game Information</h2>
<p>Date: {{ misconduct['game_dt'] }}</p>
<p>Home Team: {{ misconduct['home_team']}} Score: {{ misconduct['home_team_score'] }}</p>
<p>Away Team: {{ misconduct['away_team']}} Score: {{ misconduct['away_team_score'] }}</p>
<h2>Officials</h2>
{%- for official in misconduct['officials'] -%}
<p>{{ official['position'] }}: {{ official['first_name'] }} {{ official ['last_name'] }}</p>
{%- endfor -%}
<h2>Narrative</h2>
{{ misconduct['text'] }}
{%- endfor -%}
{%- else -%}
<p><strong>No Misconducts issued</strong></p>
{%- endif -%}
