{%- if reports -%}
<h1>Game Report Issues ({{ start_date }} - {{ end_date }})</h1>
{%- for report in reports -%}
<p>The following games need attention:</p>
<table>
  <tr>
    <td><b>Date/Time</b></td>
    <td><b>Age Group/Gender</b></td>
    <td><b>Venue/Sub-Venue</b></td>
    <td><b>Report Completed?</b></td>
    <td><b>Home Roster?</b></td>
    <td><b>Away Roster?</b></td>
  </tr>
  <tr>
    <td>{{ report['game_dt'] | format_mm_dd_yyyy }} @ {{ report['game_dt'] | format_hh_mm }}</td>
    <td>{{ report['age_group'] }} / {{ report['gender'] }}</td>
    <td>{{ report['venue'] }} / {{ report['sub_venue'] }}</td>
    {%- if report['game_report_url'] -%}
    <td>{{ <a href="{{ report['game_report_url'] }}">YES</a> }}</td>
    {%- else -%}
    <td>NO</td>
    {% endif -%}
    <td>{{ report['home_roster'] }}</td>
    <td>{{ report['away_roster'] }}</td>
  </tr>
</table> 
{%- endif -%}
